body {
  padding: 0;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 16px;
  background-color: #dc3545;
  color: black;
  margin: 0px;
}
#calendar {
  width: 80%;
  background-color: #9FACBA;
  padding: 15px;
  box-sizing: border-box;
}
#Name {
  background-color: #58151c;
  color: white;
  width: 100vw;
  height: 40px;
  font-size: 1.5rem;
  padding: 0px;
  margin: 0px;
  padding-top: 5px;
  margin-bottom: 10px;
  text-align: center;
}
#myCalender {
  display: flex;
  justify-content: start;
  flex-direction: row;
  align-items: start;
  width: 100vw;
  height: auto;
  box-sizing: border-box;
}
.menuOff {
  margin-top: 20px;
  width: 10%;
  margin-right: 20px;
  /* width: 17%; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
}
.menuOff img {
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
}
.menuOn img {
  display: none;
}
.menuOn {
  margin-top: 20px;
  margin-right: 20px;
  width: 17%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
}
.formOff {
display: none;
}
.formOn {
  display: block;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
}
.formOn label {
  margin-bottom: 5px;
  margin-top: 5px;
}
.formOn button {
  margin-top: 10px;
  border: none;
  appearance: none;
  background: none;
  color:white;
  background-color: #58151c;
  padding: 5px 10px;

}
.formOn input{
  padding:  5px 10px;
}